.register-parent {
    font-family: 'Ubuntu', sans-serif;
    background-color: #FFFFFF;
    width: 800px;
    height: 500px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.14);
}


.title{
    padding-top: 65px;
    color: darkgreen;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.name, .zipcode {
    width: 35%;
}

.childName, .childAge, .ChildServices {
    width: 25%;
}

.name, .zipcode, .childName, .childAge, .ChildServices {
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 30px;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

.Login form {
    padding-top: 40px;
}
.text{
    color: darkgreen;
    margin: 2em;
    padding-top: -10px;
    font-family: 'Ubuntu',sans-serif;
    font-weight: bold;
}


.form:focus {
    border: 2px solid rgba(0,0,0,0.18)!important;
}
.submit-button {
    cursor: pointer;
    border-radius: 7em;
    color: #fff;
    background: linear-gradient(to right, darkgreen, green);
    border: 0;
    padding: 10px 40px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 40%;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}


a {
    text-shadow: 0 0 3px rgba(117, 117, 117, 0.12);
    color: darkseagreen;
    text-decoration: none;
}


@media (max-width: 600px) {
    .register-parent {
        border-radius: 0;
    }
}

